<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">

		{% if page.name == 'blog' %}
		<title>{{ page.title }} by Luca Degasperi ✪ Digital Creator</title>
		{% else %}
		<title>{{ page.title }} Luca Degasperi ✪ Digital Creator</title>
		{% endif %}
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="Luca Degasperi">

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0">
		
		<meta name="google-site-verification" content="e62BNy2GIHPATg3stMkp9AV1FR3lsAolmGK_BmF94ow" />
		
		<meta property="og:image" content="{{ site.url }}images/facebook-thumbnail.png">
		
		<link rel="shortcut icon" href="{{ site.url }}favicon.ico"/>

	<!--[if !IE]><!-->
		<link rel="stylesheet" href="{{ site.url }}styles/icons.css">
	<!--<![endif]-->
	<!--[if IE]>
		<link rel="stylesheet" href="{{ site.url }}styles/icons-ie.css">
	<![endif]-->
	
	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="{{ site.url }}styles/ld.min.css">
	<!--<![endif]-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="{{ site.url }}styles/ie.min.css">
	<![endif]-->
	
		<link rel="stylesheet" href="{{ site.url }}styles/print.css" media="print">
		
		<!--[if lte IE 8]>
		<script src="{{ site.url }}scripts/libraries/html5shiv.js"></script>
		<script>
			document.createElement("picture");
			document.createElement("source");
		</script>
		<![endif]-->
		
		<script type="text/javascript">
		  var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackClick","trackSubmit","pageview","ab"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
		  analytics.load("ov9jed6j61");
		</script>
	</head>
	<body>

		<div class="wrap">
			<header class="banner" role="banner">
		
				<hgroup class="is-visually-hidden">
					<h1>Luca Degasperi</h1>
					<h2>Digital Creator</h2>
				</hgroup>
			
				<a href="{{ site.url }}" title="Back To Home" class="logo">
					<img src="{{ site.url }}images/logo.png" alt="Luca Degasperi's Logo">
				</a>
			
				<nav class="nav" role="navigation">
				
					<ul>
						<li {% if page.name == 'index' %}class="active"{% endif %}><a href="{{ site.url }}" data-icon="A">About</a></li>
						<li {% if page.name == 'portfolio' %}class="active"{% endif %}><a href="{{ site.url }}portfolio/" data-icon="P">Portfolio</a></li>
						<li {% if page.name == 'blog' %}class="active"{% endif %}><a href="{{ site.url }}blog/" data-icon="B">Blog</a></li>
						<li {% if page.name == 'contact' %}class="active"{% endif %}><a href="{{ site.url }}contact/" data-icon="E">Write Me</a></li>
					</ul>
				
				</nav>
				
			</header>
			<div class="infobar">
				{% if(page.infobar) %}
				
				{{ page.infobar }}
				
				{% else %}
				<div class="items">
					<a class="item" href="{{ site.url }}contact/" data-icon="E">Write me</a>
					<a class="item" rel="me" href="https://mastodon.cloud/@lucadegasperi" data-icon="T" ><i class="d">Follow me on </i>Mastodon</a>
					<a class="item" href="http://dribbble.com/lucadegasperi" data-icon="D" ><i class="d">On</i> Dribbble</a>
					<span class="item" data-icon="L"><i class="d">Made in </i>South Tyrol</span>
				</div>
				{% endif %}
			</div>
			<div class="main" role="main">

				{{ content }}
				
			</div>
			<footer class="contentinfo" role="contentinfo">
				<small>
					<span>&copy; 2015 Luca Degasperi &mdash; P.IVA / VAT N° IT 02849890211</span>
				</small>
			</footer>
		</div>
		
		<script src="{{ site.url }}scripts/libraries/picturefill.js"></script>
	</body>
</html>
